CROWDFUNDR_DB_HOST=localhost
CROWDFUNDR_DB_PORT=5433
CROWDFUNDR_DB_NAME=crowdfundr
CROWDFUNDR_DB_USER=crowdfundr
CROWDFUNDR_DB_PASSWORD=crowdfundr
CROWDFUNDR_DB_SCHEMA=sql
MONGODB_URI=mongodb://localhost:27017
